.modal-wrapper {
  overflow: auto;
}

.modal-container {
  width: 100%;
  height: 200px;
  max-width: 420px;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  background-color: var(--background-purple);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0;
  z-index: 10;
  animation: slide 0.7s;
}

.modal-background {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}

.title-container {
  position: static;
  margin-top: 30px;
  text-align: center;
}

.button-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  width: 50%;
  height: 60px;
  background-color: green;
}

.button > span {
  line-height: 60px;
  vertical-align: middle;
}

.closeOk {
  background-color: gray;
}

.closeNo {
  background-color: var(--main-lime);
}

.closeNo > span {
  color: black;
}
