.calendar {
  width: 255px;
  height: fit-content;
  display: grid;
  margin: 0 auto 12px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--text-black);
  background-color: var(--background-navy);
}

.calendar-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-wrapper > i {
  font-size: 14px;
}
.icon-wrapper:hover > i {
  color: var(--main-lime);
}
.icon-wrapper.invalid > i {
  display: none;
}