.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.logo {
  height: 24px;
}

.container {
  width: 100%;
  max-width: 420px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to bottom, #3a1d8d, #5e38ca);
  background-attachment: fixed;
}

.img{
  width: 100px;
  height: 100px;
}

.title-1{
  color: var(--main-lime);
  text-shadow: 1px 1px 0px;
}

.title-4{
  color: var(--text-black)
}

.title-5{
  color: var(--text-white)
}

.title-7{
  color: var(--text-violet)
}

.result{
  background-color: var(--background-purple);
  text-align: center;
  width: 275px;
  height: 177px;
}

.category-tag{
  width: 150px;
  height: 22px;
  margin-bottom: 8px;
}

.button-4{
  margin-top: 40px;
}