.container {
  width: 100%;
  max-width: 420px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to bottom, #3a1d8d, #5e38ca);
  background-attachment: fixed;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}
.logo {
  height: 24px;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  animation: fade-in 0.7s;
}

.img {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 160px;
  height: 160px;
}

.mbti {
  margin-top: 20px;
}

.title-1 {
  color: var(--main-lime);
  text-shadow: -1px -1px 0 var(--text-black), 1px -1px 0 var(--text-black),
    -1px 1px 0 var(--text-black), 1px 1px 0 var(--text-black), 2px 2px 0 var(--text-black);
}

.title-4 {
  color: var(--text-black);
}

.title-5 {
  color: var(--text-white);
  text-shadow: 1px 1px 0px #000000;
}

.title-7 {
  color: var(--text-violet);
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 20px;
  text-align: right;
}
.mbti {
  margin: 20px auto 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mbti .title {
  color: var(--main-lime);
}
.mbti-desc {
  margin: 10px 0 20px;
}
.mbti-img {
  width: 160px;
  height: 160px;
}

.result {
  background-color: var(--background-purple);
  text-align: center;
  width: 275px;
  padding: 12px 0;
  margin-bottom: 35px;
  box-shadow: 1px 1px 0px var(--text-black);
  border-radius: 5px;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.result .sub-div {
  margin: 8px auto 18px;
}

.category-tag {
  width: 150px;
  max-width: 150px;
  margin: 8px auto;
  box-shadow: 0px 0px 0px;
}

.button-4 {
  margin-top: 40px;
}
.empty-message {
  color: var(--text-violet);
  width: 100%;
  text-align: center;
  line-height: 1.5;
  margin: 70px 0 30px;
}
