.container {
  width: 100%;
  max-width: 420px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to bottom, #3a1d8d, #5e38ca);
  background-attachment: fixed;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}
.logo {
  height: 24px;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 35px 20px 0;
  padding: 0 0 80px;
}

.slide-enter-active {
  animation: slide-in 0.7s;
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.question {
  width: 100%;
}

.mbti-idx {
  color: var(--main-lime);
  margin: 0 0 0 15px;
}

.message {
  text-align: center;
  line-height: 1.5;
  margin: 35px auto 35px;
  text-shadow: 1px 1px var(--text-black);
  word-wrap: break-word;
  word-break: keep-all;
}

.answer {
  width: calc(100% - 40px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 60px;
  gap: 20px;
}

.answer-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 20px;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: keep-all;
  color: var(--text-black);
  background-color: var(--text-violet);
  border: 1px solid var(--text-black);
  box-sizing: border-box;
  box-shadow: 1px 1px var(--text-black);
  border-radius: 10px;
}
.answer-button:hover {
  background: var(--button-violet);
  transform: scale(1.05);
  transition: background 0.3s, transform 0.3s;
}

.progress-bar {
  width: calc(100% - 30px);
  margin: 0 auto 30px;
  text-align: center;
  position: relative;
}

.progress-bg {
  height: 15px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background: var(--main-purple);
  overflow: hidden;
}
.progress {
  height: 100%;
  background-color: var(--main-lime);
}
.progress-0 {
  width: 0%;
}
.progress-1 {
  width: 8.5%;
  transition: width 0.3s;
}
.progress-2 {
  width: 16.5%;
  transition: width 0.3s;
}
.progress-3 {
  width: 25%;
  transition: width 0.3s;
}
.progress-4 {
  width: 33.5%;
  transition: width 0.3s;
}
.progress-5 {
  width: 42%;
  transition: width 0.3s;
}
.progress-6 {
  width: 50%;
  transition: width 0.3s;
}
.progress-7 {
  width: 58.5%;
  transition: width 0.3s;
}
.progress-8 {
  width: 66.5%;
  transition: width 0.3s;
}
.progress-9 {
  width: 75%;
  transition: width 0.3s;
}
.progress-10 {
  width: 83%;
  transition: width 0.3s;
}
.progress-11 {
  width: 91.5%;
  transition: width 0.3s;
}

.progress-text {
  margin: 15px 0 0;
}