.card {
  position: relative;
  padding: 0;
}

.card-image {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  border: solid 1px var(--text-black);
  overflow: hidden;
  position: relative;
}
.card-image > img {
  min-width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}
.card-image:hover img {
  border-radius: 6px;
  transform: scale(1.2);
  filter: brightness(0.5);
  transition: transform 0.5s, filter 0.5s;
}

.card-site {
  position: absolute;
  top: 10px;
  left: 10px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  text-align: left;
}

.card-interest {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-interest > i {
  font-size: 18px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.card-interest .interest {
  color: var(--button-hot-pink);
}

.category-div {
  position: absolute;
  bottom: 10px;
  left: 10px;
}