.calendar {
  width: fit-content;
  height: fit-content;
  display: grid;
  margin: 20px auto 12px;
  padding: 20px 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--text-black);
  background-color: var(--background-navy);
}

.calendar-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px;
}

.icon-wrapper > i {
  font-size: 14px;
}
.icon-wrapper:hover > i {
  color: var(--main-lime);
}
.icon-wrapper.invalid > i {
  display: none;
}

.calendar-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  justify-items: center;
  align-items: center;
}
.calendar-content > div {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 7px;
  border: 2px solid transparent;
}
@media screen and (min-width: 360px) {
  .calendar-content > div {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid transparent;
  }
}

.calendar-content > div:hover {
  background: var(--main-purple);
}
.calendar-content .day-list:hover,
.calendar-content .invalid:hover {
  background: none;
}

.calendar-content .invalid {
  color: var(--calendar-invalid);
}
.calendar-content .sunday {
  color: var(--calendar-red);
}
.calendar-content .saturday {
  color: var(--calendar-blue);
}

.calendar-content .selected {
  border: 2px solid var(--calendar-red);
}
.calendar-content .empty {
  color: transparent;
}

.level-1 {
  color: var(--text-black);
  background: var(--calendar-level-1);
}
.level-2 {
  color: var(--text-black);
  background: var(--calendar-level-2);
}
.level-3 {
  color: var(--text-black);
  background: var(--calendar-level-3);
}
.level-4 {
  color: var(--text-black);
  background: var(--calendar-level-4);
}