.category {
  position: static;
  /* width: 110px; */
  width: 30%;
  height: 24px;
  left: 4px;
  top: 0px;

  text-align: center;
  box-shadow: 2px 2px 0px #000000;
  border-radius: 15px;
  margin-right: 6px;
}

.category-title {
  color: black;
  line-height: 24px;
  vertical-align: middle;
}
