.category {
  position: static;
  height: 24px;
  flex-basis: 28%;
  text-align: center;
  box-shadow: 2px 2px 0px var(--text-black);
  border-radius: 15px;
  margin-right: 5px;
  justify-content: center;
}

.category-title {
  color: var(--text-black);
  line-height: 24px;
  vertical-align: middle;
  width: 100%;
}
