body {
  padding: 0;
  margin: 0;
}
body * {
  font-family: "TmoneyRoundWindRegular";
  line-height: 1.5;
  color: var(--text-white);
  -ms-overflow-style: none;
}
body *::-webkit-scrollbar {
  display: none;
}

/* Color */
:root {
  --main-purple: #633ecd;
  --main-lime: #a5ff85;
  --main-orange: #ffc93d;
  --text-white: #fff;
  --text-black: #000;
  --text-violet: #ae9ddf;
  --text-light-violet: #d5c9f7;
  --button-purple: #5632be;
  --button-green: #80a093;
  --button-hot-pink: #e93576;
  --background-purple: #4829a1;
  --background-navy: #29126f;
  --calendar-red: #ff6d6d;
  --calendar-blue: #5484ff;
  --calendar-invalid: #6940de;
  --calendar-level-1: #4f3e12;
  --calendar-level-2: #765e20;
  --calendar-level-3: #ad8b33;
  --calendar-level-4: #ffce4f;
  --category-1: #f66c88;
  --category-2: #faf0e6;
  --category-3: #95ff99;
  --category-4: #ffa500;
  --category-5: #bc78ff;
  --category-6: #69e4ff;
  --category-7: #fff96a;
  --category-8: #ff95e1;
  --category-9: #fa8072;
}

.category-1 {
  background-color: var(--category-1);
}
.category-2 {
  background-color: var(--category-2);
}
.category-3 {
  background-color: var(--category-3);
}
.category-4 {
  background-color: var(--category-4);
}
.category-5 {
  background-color: var(--category-5);
}
.category-6 {
  background-color: var(--category-6);
}
.category-7 {
  background-color: var(--category-7);
}
.category-8 {
  background-color: var(--category-8);
}
.category-9 {
  background-color: var(--category-9);
}

/* Font */
@font-face {
  font-family: "DungGeunMo";
  src: url("./fonts/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TmoneyRoundWindRegular";
  src: url("./fonts/TmoneyRoundWindRegular.otf");
  src: url("./fonts/TmoneyRoundWindRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

.title-1 {
  font-family: "DungGeunMo";
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.title-2 {
  font-family: "DungGeunMo";
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.title-3 {
  font-family: "DungGeunMo";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.title-4 {
  font-family: "DungGeunMo";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.title-5 {
  font-family: "DungGeunMo";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.title-6 {
  font-family: "DungGeunMo";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.title-7 {
  font-family: "DungGeunMo";
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

.strong-1 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.strong-2 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.strong-3 {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.strong-4 {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.body-1 {
  font-size: 14px;
  letter-spacing: 0.05em;
}
.body-2 {
  font-size: 12px;
  letter-spacing: 0.05em;
}
.body-3 {
  font-size: 10px;
  letter-spacing: 0.05em;
}
.body-4 {
  font-size: 8px;
  letter-spacing: 0.05em;
}

/* Text Style */
.title {
  text-shadow: 2px 2px 0 var(--text-black), -1px 0 var(--text-black), 0 1px var(--text-black),
    1px 0 var(--text-black), 0 -1px var(--text-black);
  -webkit-font-smoothing: antialiased;
  text-align: left;
}
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Button Style */
.text-button {
  white-space: nowrap;
}
.text-button:hover {
  color: var(--main-lime);
  transition: color 0.3s;
}

.button-1 {
  width: 200px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 0 0 var(--text-black);
  border: solid 1px var(--text-black);
  color: var(--text-black);
  background-color: var(--main-lime);
}
.button-1:hover {
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
}

.button-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border-radius: 16px;
  box-shadow: 1px 1px 0 0 var(--text-black);
  border: solid 1px var(--text-black);
  color: var(--text-black);
  background-color: var(--main-lime);
}
.button-2:hover {
  background-color: var(--button-green);
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
}

.button-3 {
  width: 64px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 16px;
  border: solid 1px var(--text-black);
  color: var(--text-black);
  background-color: var(--button-green);
}
.button-3:hover {
  background-color: var(--main-lime);
  transition: background-color 0.3s;
}
.button-3.active {
  box-shadow: 1px 1px 0 0 var(--text-black);
  background-color: var(--main-lime);
}
