.container {
	width: 100%;
	max-width: 420px;
	height: 100%;
	min-height: 100vh;
	margin: 0 auto;
	background: linear-gradient(to bottom, #3a1d8d, #5e38ca);
	background-attachment: fixed;
}

.title {
	padding: 20px 20px 0 20px;
}

.contents {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 25px;
	margin: 15px 0 0;
	padding: 0 0 80px;
	animation: fade-in 0.7s;
}

.contents > div {
	width: 100%;
	height: fit-content;
}