.container {
  width: 100%;
  max-width: 420px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to bottom, #3a1d8d, #5e38ca);
  background-attachment: fixed;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 20px 20px 0 20px;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin: 20px 20px 0 20px;
  padding: 0 0 80px;
}

.date-title {
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.no-content {
  color: var(--text-violet);
  padding: 8px 0 0 20px;
}