.modal-container {
  width: 100%;
  max-width: 420px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--background-purple);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.icon-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-wrapper > i {
  font-size: 18px;
}
