.logo {
  width: 69.4px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.search-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.search-icon > i {
  font-size: 18px;
  color: var(--text-white);
}
